<!DOCTYPE html>
<html>
<head>
    <title>Edit Template</title>
</head>
<body>
    <h1>Edit Template</h1>
    <form action="/templates/{{ .Template.ID }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ .Template.Name }}"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content">{{ .Template.Content }}</textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
